.expense-button {
  margin-top: 0.5rem;
}

.expense-button>button {
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);


}

.wallet-balance-button>button {
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);


}




.wallet-balance-button {
  margin-top: 0.5rem;
}

button:hover {
  cursor: pointer;
}