.expense-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(239, 239, 239, 0.85);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  gap: 0.4rem;
}

#expense-modal-header {
  font-family: Ubuntu;
  color: black;
}

.expense-wrapper {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.expense-wrapper>input {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(217, 217, 217, 1)
}

.expense-wrapper>#expense-add-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(244, 187, 74, 1);
}

#expense-cancel-button {
  background-color: rgba(227, 227, 227, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.expense-wrapper>* {
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  width: 100%;
  font-family: "Open Sans";
  border-radius: 15px;
  border: none;
}



.expense-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.77);
  ;
  /* Semi-transparent black */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* * {
  border: 2px solid black;
} */

@media (min-width:568px) {
  .expense-modal {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }

  .expense-wrapper {
    display: grid;
    width: 100%;
    max-width: 600px;
    grid-template-columns: 3fr 3fr;
  }
}